
<!-- <blockquote>
  <em>You asked:</em>
</blockquote>
 -->
<div class="box sb1"><%= @question %></div>

<!--
<blockquote>
  <em>Coach says:</em>
</blockquote> -->

<img src="https://uppl.cricket/wp-content/uploads/2016/04/coach.png" alt="">

<div class="box sb2"><%= @answer %></div>

<h2>
  <%= link_to "Try another one, champ", ask_path %>

</h2>
