

<div class="box sb1">
  <form action="answer" autocomplete="off">
    <input class="chat-input" type="text" placeholder="Ask your coach anything" name="question">
    <input type="submit" id="submit" value="Ask!" style="">
  </form>
</div>

